@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Fondo negro */
  /* Texto de color warning */
  font-family: Lexend, 'Noto Sans', sans-serif;
}

div {
  scroll-behavior: smooth;
}


/* Modo oscuro */
.dark {
  --icon-color: #fffd92; /* Color de los íconos en modo oscuro */
}

/* Asegurarse de que los SVGs utilicen currentColor */
svg {
  color: var(--icon-color);
}
