@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: #ffffff;
  /* Fondo negro */
  color: #ffc107;
  /* Texto de color warning */
  font-family: Lexend, "Noto Sans", sans-serif;
}

div {
  scroll-behavior: smooth;
}